html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  
*, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.navbar li {
    margin-bottom: 0;
    font-size: 28px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#formDiv{
    padding: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
#addressForm{
    width: 40vw;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
#goButton{
    font-size: 16px;
}
#main-body{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
#wrapper{
    display: flex;
    flex-direction: column;
}
#graph{
    flex:1;
}
#provGraph{    
    width: 1200px;   
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
}

#map-id { 
    height: 100%;
}

#mapid { 
    height: 800px;
    position: relative;
}
#provChart{
    width: 1200px;   
}
#heading1{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px rgb(109, 109, 109);
	   -moz-box-shadow: 0 8px 6px -6px rgb(109, 109, 109);
	        box-shadow: 0 8px 6px -6px rgb(109, 109, 109);
}
.map-container {
    height: 100%;
    /* Fallback for vmin */
    padding: 0px 1rem 1rem 1rem;
    padding: 0px 1vmin 1vmin 1vmin;
}
  
.map-frame {
    height: 100%;
    width: 100%;
    outline: 1px solid black;
}
.custom .leaflet-popup-content-wrapper{
    font-size: 18px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


@supports (display: flex) {
    .map-container {
      height: 0;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }
  
    .map-frame {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }
  }